<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Licoreria | Examen</title>
    <link rel="stylesheet" href="styles.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Akaya+Telivigala&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Akaya+Telivigala&family=RocknRoll+One&display=swap" rel="stylesheet">
</head>
<body>
    <header class="head1">
        <div class="divhead1">
        <h2 id="head1h2">Las mejores marcas a los mejores precios</h2>
        <h1 id="head1h1">Tu licorería</h1>
        <button>Mas información</button>
        </div>
    </header>
<main>
    <section class="s1">
                
        <div class="div1s1">
            <img src="https://i.pinimg.com/474x/45/c6/af/45c6af884aa6b02e234b22e5899e9d7b.jpg" alt="" class="imagen">
            <div class="div2s1">
                <h2 id="h2s1">Acerca de nosotros</h2>
                <h2 id="h2s1">Licoreria</h2>
                <p>Las mejores marcas de licores las podras encontrar en nuestras instalaciones. Visitanos!!</p>
                <p>Se realizan envios a domicilio sin recargo alguno. </p>
                <button id="font-2">MÁS INFORMACIÓN</button>
            </div>
        </div>
    </section>
